@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King|Reenie+Beanie');

body {
  margin: 0;
  padding-top: 50px;
  font-family: 'Loved by the King';
}

.nav {
  font-size: 20px;
}

.masthead {
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
  padding-bottom: 200px;
  font-family: 'Reenie Beanie';
  text-align: center;
  color: black;
  background: url("images/CODE1.jpeg") no-repeat bottom center scroll;
  background-attachment: fixed;
  background-color: gray;
  background-size: cover;
  opacity: 0.8;
}

@media only screen and (orientation:landscape) {
  .masthead {
    display: table;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    font-family: 'Loved by the King';
    text-align: center;
    color: black;
    background: url("images/CODE1.jpeg") no-repeat bottom center scroll;
    background-attachment: fixed;
    background-color: gray;
    background-size: cover;
    opacity: 0.8;
  }
}
.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 100px;
  text-shadow: 1px 1px 1px #000;
}

.masthead .intro-body .intro-text {
  font-size: 28px;
}

.fa-angle-double-down {
  color: black;
}

.fa-angle-double-down:hover{
  color: gray;
}

#about {
  background: url("images/grilled.png") repeat bottom center scroll;
  background-attachment: fixed;
}

#maFace {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 5px;
}

#maFace:hover {
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.5);
}

#projects {
  background: url("images/grilled.png") repeat bottom center scroll;
  background-attachment: fixed;
}

.card {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 5px;
  overflow: auto;
  margin-top: 20px;
  background-color: white;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.5);
}

.card img {
  scale: 0.15;
  border-radius: 5px 5px 0 0;
}

#contact {
  background-color: gray;
  padding-top: 250px;
  padding-bottom: 250px;
  background: url("images/touch3.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

#contact h2 {
  font-size: 50px;
}

.carousel {
  height: 100vh;
  display: none;
  background-color: transparent;
}
.carousel-inner > .item > img {
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  .masthead {
    padding-top: 250px;
    padding-bottom: 250px;
  }
  .carousel {
    display: block;
  }
}

.social, .social:focus {
  background-color: transparent;
  font-size: 20px;
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.5);
}

/*.modal-body {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.required {
  color:red;
  font-weight:bold
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
     box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.5);
}
